.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  display: flex;
  gap: 32px;
  align-items: center;
}

.profile-img {
  width: 250px;
  height: 300px;
  border-radius: 20%;
  object-fit: cover;
  border: 4px solid #3b82f6;
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
    text-align: center;
  }
}
