.tech-card {
  background: #1f2933;
  padding: 10px 18px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.tech-card:hover {
  transform: scale(1.05);
}

.tech-card span {
  color: #f3f4f6;
  font-weight: 500;
}
